
.collection-item {
  width: 22%;
  display: inline-block;
  flex-direction: column;
  height: 350px;
  margin: 3%;
  width: 26%;
  align-items: center;
}
  .image {
    width: 96%;
    height: 80%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;

  }

  .collection-footer {
    width: 96%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
    

    .price {
      width: 50%;
      height: 38px;
      overflow: hidden;
      text-align: center;
      padding: 5px;
      background-color:whitesmoke;

    }
 

    /* .btn-primary{
 
      position: absolute;
      top: 72%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    
  } */
 
  