body{
    background-color: #D3D3D3;
}

.headers{
    width: 100%;
    margin-top:10px;

}
.h2{
    margin-bottom: -2.5rem;
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.headers-children{
    text-decoration: none;
    color: black;
    margin: 10px;
    text-align: right;
}

.images{
    height: 50px;
}

.cart{
    text-decoration: none;
    color: black;
}

.sign{
    text-decoration: none;
    color: black;
    margin-left: 40px;
}